<!--style>
body {background-color: grey;}
</style-->

<style>
.center {
   margin: 0 auto !important;
   float: none !important;
}
</style>

<div class="span12 pull-center">

  <ul class="nav nav-pills" style="width:100%; margin-bottom:0.5em;" id="myTab" >
    <li class="active"><a href="#live" data-toggle="pill">LIVE</a></li>
    <li><a href="#archive" data-toggle="pill">Archive</a></li>
  </ul>

<div class="tab-content">
  <div class="tab-pane active" id="live">
    <div id="live-youtube" class="span12" style="margin:auto; max-width: 800px; width:100%; height:400px; max-height:400px; overflow:hidden;">
    </div> 
  </div>
  
  <div class="tab-pane" id="archive">
    <div id="youtube-tv-frame"></div>
  </div>
</div>

</div>

<script type="text/javascript">

     $(document).ready( function() {

  		$(function () {
    		  $('#myTab a:first').tab('show')
  		});

		$('#myTab a').click(function (e) {
  		  e.preventDefault();
  		  $(this).tab('show');
 		});

		$('#youtube-tv-frame').ytv({
                                  user: '<%= Stream.first.name %>',
                                  accent: '#d51c18',
                                  autoplay: false,
                                  chainVideos: true,
                                });

                });

</script>

<style type="text/css">
<!--

#player {
    width: 100%;
    max-width: 800px;
    height: 400px;
    overflow: hidden;
    background: white;
    position: absolute;
    border: solid 0px gray;
}

.youtube .xcarousel {
    width: 20%;
    height: 100%;
    overflow: auto;
    position: absolute;
    right: 0px;
// z-index: 3;
}

.youtube .thumbnail {
    margin: 2px;
    width: 80%;
    border: 1px solid black;
}

.youtube iframe.player {
    width: 100%;
    height: 100%;
    overflow: auto;
    border: 0;
}

-->
</style>

<script type="text/javascript">
(function() {
    function createPlayer(jqe, video, options) {
        var ifr = $('iframe', jqe);
        if (ifr.length === 0) {
            ifr = $('<iframe scrolling="no">');
            ifr.addClass('player');
        }
        var src = 'http://www.youtube.com/embed/' + video.id;
        if (options.playopts) {
            src += '?';
            for (var k in options.playopts) {
                src+= k + '=' + options.playopts[k] + '&';
            }
            src += '_a=b';
        }
        ifr.attr('src', src);
        jqe.append(ifr);
    }
    
    function createCarousel(jqe, videos, options) {
        var car = $('div.xcarousel', jqe);
        if (car.length === 0) {
            car = $('<div>');
            car.addClass('xcarousel');
            jqe.append(car);
            
        }
        $.each(videos, function(i,video) {
            options.thumbnail(car, video, options);
        });
    }
    
    function createThumbnail(jqe, video, options) {
        var imgurl = video.thumbnails[0].url;
        var img = $('img[src="' + imgurl + '"]');
        if (img.length !== 0) return;
        img = $('<img>');
        img.addClass('thumbnail');
        jqe.append(img);
        img.attr('src', imgurl);
        img.attr('title', video.title);
        img.click(function() {
            options.player(options.maindiv, video, $.extend(true,{},options,{playopts:{autoplay:1}}));
        });
    }
    
    var defoptions = {
        autoplay: false,
        user: null,
        carousel: function(){}, //createCarousel,
        player: createPlayer,
        thumbnail: createThumbnail,
        loaded: function() {},
        playopts: {
            autoplay: 1,
            egm: 1,
            autohide: 1,
            fs: 1,
            showinfo: 0
        }
    };
    
    
    $.fn.extend({
        youTubeChannel: function(options) {
            var md = $(this);
            md.addClass('youtube');
            md.addClass('youtube-channel');
            var allopts = $.extend(true, {}, defoptions, options);
            allopts.maindiv = md;
            $.getJSON('http://gdata.youtube.com/feeds/users/' + allopts.user + '/uploads?alt=json-in-script&format=5&callback=?', null, function(data) {
                var feed = data.feed;
                var videos = [];
                $.each(feed.entry, function(i, entry) {
                    var video = {
                        title: entry.title.$t,
                        id: entry.id.$t.match('[^/]*$'),
                        thumbnails: entry.media$group.media$thumbnail
                    };

		    if( video.title.indexOf('test') > -1 || video.title.indexOf('Test') > -1 || video.title == 'BTFDtv' || video.title.indexOf('Dark') > -1 ) {
                      // filter these test shows out
		    } else { 
                      videos.push(video);
		    }
                });
                allopts.allvideos = videos;
                allopts.carousel(md, videos, allopts);
                allopts.player(md, videos[0], allopts);
                allopts.loaded(videos, allopts);
            });
        }
    });
    
})();
        
$(function() {
    $('#live-youtube').youTubeChannel({user:'<%= Stream.first.name %>'});
});
</script>
