<div class="span12">

  <ul class="nav nav-pills" style="width:100%; margin-bottom:0.5em;" id="myTab" >
    <li class="active"><a href="#live" data-toggle="pill">LIVE</a></li>
    <li><a href="#archive" data-toggle="pill">Archive</a></li>
  </ul>

<div class="tab-content">
  <div class="tab-pane active" id="live">
    <div id="live-youtube" class="span12" style="margin:auto; max-width: 800px; width:100%; height:400px; max-height:400px; overflow:hidden;">
      <iframe width="100%" height="100%" src="http://www.youtube.com/embed/Ihki0jbyYUs" frameborder="0" autoscroll="no"></iframe>
    </div> 
  </div>
  
  <div class="tab-pane" id="archive">
    <div id="youtube-tv-frame"></div>
  </div>
</div>

</div>

<script type="text/javascript">

     $(document).ready( function() {

  		$(function () {
    		  $('#myTab a:first').tab('show')
  		});

		$('#myTab a').click(function (e) {
  		  e.preventDefault();
  		  $(this).tab('show');
 		});

		$('#youtube-tv-frame').ytv({
                                  user: '<%= Stream.first.name %>',
                                  accent: '#d51c18',
                                  autoplay: false,
                                  chainVideos: true,
                                });

                });

</script>
