<div class="row attachment" style="margin-left:.25em;">
 <a href='<%=attachment.link%>' target='blank'><img src='<%=attachment.thumbnails_64x64 or attachment.icon%>' height='32px' width='32px'>&nbsp;<%=attachment.name%></a><br/
</div>
