<!--=== Footer ===-->

<div class="footer">

	<div class="container">

		<div class="row">

			<div class="col-md-4 md-margin-bottom-40">

                <!-- About -->

		        <div class="headline"><h2>About BTFDtv</h2></div>	

				<p class="margin-bottom-25 md-margin-bottom-40">BTFDtv has no producers, writers, editors or on air rules.</p>	


	            <!-- Monthly Newsletter -->

		        <div class="headline"><h2>Join the Community</h2></div>	

				<p>Register - We don't sell your info.</p>

				<a href="/signup" class="btn-buy hover-effect">Sign up Now</a>            					

			</div><!--/col-md-4-->	

			

			<div class="col-md-4 md-margin-bottom-40">

                <!--div class="posts">

                    <div class="headline"><h2>Recent Blog Entries</h2></div>

                    <dl class="dl-horizontal">

                        <dt><a href="#"><img src="assets/img/sliders/elastislide/6.jpg" alt="" /></a></dt>

                        <dd>

                            <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p> 

                        </dd>

                    </dl>

                    <dl class="dl-horizontal">

                    <dt><a href="#"><img src="assets/img/sliders/elastislide/10.jpg" alt="" /></a></dt>

                        <dd>

                            <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p> 

                        </dd>

                    </dl>

                    <dl class="dl-horizontal">

                    <dt><a href="#"><img src="assets/img/sliders/elastislide/11.jpg" alt="" /></a></dt>

                        <dd>

                            <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p> 

                        </dd>

                    </dl>

                </div-->

                <div class="headline"><h2>Recent Videos Here Soon</h2></div>	
		<img src="/assets/images/BTFDtvLarge.png" width="100%"/>

			</div><!--/col-md-4-->



			<div class="col-md-4">

	            <!-- Monthly Newsletter -->

		        <div class="headline"><h2>Contact Us</h2></div>	

                <address class="md-margin-bottom-40">

					One Transparent Way.<br />

					Anytown, Anywhere.<br />

					Any Time of Day.<br />

					Email: <a href="mailto:btfdtv@gmail.com" class="">BTFDtv@gmail.com</a><br />
					
					Twitter: <a target="_blank" href="https://www.twitter.com/BTFDtv" class="">@BTFDtv</a>

                </address>



                <!-- Stay Connected -->

		        <div class="headline"><h2>Stay Connected</h2></div>	

                <ul class="social-icons">

                    <li><a target="_blank" href="http://feeds.feedburner.com/BtfdtvAudioPodcast" data-original-title="Feed" class="social_rss"></a></li>

                    <!--li><a href="#" data-original-title="Facebook" class="social_facebook"></a></li-->

                    <li><a target="_blank" href="http://www.twitter.com/BTFDtv" data-original-title="Twitter" class="social_twitter"></a></li>

                    <li><a target="_blank" href="https://plus.google.com/b/103142149934679365603" data-original-title="Google Plus" class="social_googleplus"></a></li>

                    <!--li><a href="#" data-original-title="Pinterest" class="social_pintrest"></a></li>

                    <li><a href="#" data-original-title="Linkedin" class="social_linkedin"></a></li>

                    <li><a href="#" data-original-title="Vimeo" class="social_vimeo"></a></li-->

                </ul>

			</div><!--/col-md-4-->

		</div><!--/row-->	

	</div><!--/container-->	

</div><!--/footer-->	

<!--=== End Footer ===-->

